
* {
    background-color: rgb(167, 221, 240);
}

h1 {
    border: 10px solid rgb(58, 52, 52);
    font-weight: bolder;
}

* {
    font-family: Verdana;
}

h2 {
    border-top: 5px solid black;
}

footer {
    border-top: 2px solid black;
    border-bottom: 3px solid black;
}

a {
    color:rgb(58, 52, 52);
}

a:hover {
    color: coral;
}

.rankings{
    background-color: firebrick !important;
}
