
* {
    background-color: rgb(167, 221, 240);
}

h1 {
    background-image: url(./dmitch.jpg);
    opacity: 0.81;
    padding: 175px;
    text-align: center;
    text-emphasis: bolder;
    color: whitesmoke;
}

h1 {
    border: 10px solid rgb(58, 52, 52);
    font-weight: bolder;
}

* {
    font-family: Verdana;
}

h2 {
    border-top: 5px solid black;
}

footer {
    border-top: 2px solid black;
    border-bottom: 3px solid black;
}

a {
    color:rgb(58, 52, 52);
}

a:hover {
    color: coral;
}

.point_guards, .shooting_guards, .small_forwards, .power_forwards, .centers, .team{
    background-color: rgb(117, 60, 60) !important;
}

/* need to adjust and style bulleting eventually*/